/* Base scroll animation */
.scroll-animate {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.9s ease-out;
}

/* When visible */
.scroll-animate.show {
  opacity: 1;
  transform: translate(0);
}

/* Variations */
.fade-up {
  transform: translateY(50px);
}

.fade-down {
  transform: translateY(-50px);
}

.fade-left {
  transform: translateX(-50px);
}

.fade-right {
  transform: translateX(50px);
}

.zoom-in {
  transform: scale(0.8);
}

.scroll-animate.show.fade-up,
.scroll-animate.show.fade-down,
.scroll-animate.show.fade-left,
.scroll-animate.show.fade-right,
.scroll-animate.show.zoom-in {
  opacity: 1;
  transform: none;
}

.header {
  opacity: 0;
  transform: translateY(-40px);
  transition: all 0.8s ease-in-out;
}

.header.show {
  opacity: 1;
  transform: translateY(0);
}

.scroll-animate.delay-1 {
  transition-delay: 0.1s;
}
.scroll-animate.delay-2 {
  transition-delay: 0.2s;
}
.scroll-animate.delay-3 {
  transition-delay: 0.3s;
}
.scroll-animate.delay-4 {
  transition-delay: 0.4s;
}
.scroll-animate.delay-5 {
  transition-delay: 0.5s;
}
.scroll-animate.delay-6 {
  transition-delay: 0.6s;
}
.scroll-animate.delay-7 {
  transition-delay: 0.7s;
}
.scroll-animate.delay-8 {
  transition-delay: 0.8s;
}
.scroll-animate.delay-9 {
  transition-delay: 0.9s;
}
.scroll-animate.delay-10 {
  transition-delay: 1s;
}
.scroll-animate.delay-11 {
  transition-delay: 1.1s;
}
.scroll-animate.delay-12 {
  transition-delay: 1.2s;
}
.scroll-animate.delay-13 {
  transition-delay: 1.3s;
}
