* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    height: 5000px;
}

.container {
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr 1fr ;
    border: 2px solid red;
    margin-top: 30px;
    margin-inline: auto;
    width: 800px;
    height: 400px;
}

.container .item {
    width: 200px;
    height: 200px;
    background-color: black;
}

@media screen and (max-width:674px) {
    .container {
        width: 600px;
        height: 400px;
    }
}

